<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %50logger{50} -- %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--       <file>logs/LearningSpringBootApplicationLogFile.log</file>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH-mm-ss} %4r [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!--    将特定包或者类的日志级别设置-->
<!--    <logger name="one.two.three.components.ApplicationArgumentsCommandLineRunner" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </root>

</configuration>